<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyh.happyyousdk">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" /> <!-- Required for apptrove -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.gm" />
    </queries>

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:windowSoftInputMode="stateAlwaysHidden"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name="com.wyh.happyyousdk.quizathon.AllQuizathonActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.QuizScratchListActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.QuizActivityRewardList"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.QuizathonViewAllActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.QuizClaimActivityRewardList"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.TimeBoundScoreActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.QuizathonTimeboundScoreActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.FeedbackActivityRewardList"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.musicLib.MusicLibPlayerActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.musicLib.MoreMusicListActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.play_and_win.PlayAndWinActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.QuizathonScoreActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quizathon.QuizathonActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.WebinarWebview"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.quiz.QuizHistoryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.SpinWheel.Activities.spinwheelreward.RewardsListActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.SpinWheel.Activities.spinwheelreward.SpinWheelRewardsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ChallangesModule.Walkathon.Activities.BranchDetailActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ChallangesModule.Walkathon.Activities.WalkhatonDetailActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ChallangesModule.Walkathon.Activities.EnrolledChallengeActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="true" />
        <activity
            android:name="com.wyh.happyyousdk.Goals.Activities.IndividualGoalDetails"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.Goals.Activities.HistoryDetailActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.Goals.Activities.GoalHistory"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.Goals.Activities.OtherGoals"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.Goals.Activities.RecommendedGoalsDetails"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.AmahaWebView"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.HappyMartCategory"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.NewHappyMartDisclaimer"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.NewHappyMartActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.profile.AddUserDetails"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.profile.DialogActivity"
            android:exported="false"
            android:theme="@style/CustomAlertDialogNew" />
        <activity
            android:name="com.wyh.happyyousdk.diary.NewDiaryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.Sonde.Activities.MentalWellnessVoiceFeature"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.dashboard.SearchActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ChallangesModule.Activities.TribeChallengeDashboard"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.Goals.Activities.SetGoal"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.Goals.Activities.IndividualGoalsDashboard"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.Goals.Activities.GoalsDashboard"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ChallangesModule.Activities.BadgesActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ChallangesModule.Activities.ChallengeDetailActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ChallangesModule.Activities.ChallangesActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.HappyMartKLIActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.addFamily.AddFamilyListActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.addFamily.AddFamilyActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.absorb.HealthTvListingActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.dashboard.ScanQRActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.wyh.happyyousdk.dashboard.ScannerIntegrate"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.absorb.RecommandHealthTvDashboradActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.VideoReaderActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.absorb.MoreQuickReadActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.HealthLockerPhotosActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.diary.ShareAndEarnDiaryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.PdfReaderActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.ImageReaderActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.ViewMoreEhrRecord"
            android:theme="@style/Theme.HappyYou"
            android:exported="false" />
        <activity
            android:name="com.wyh.happyyousdk.NeedSupportActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.rewards.UnscratchedTokensActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.AboutUsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.qc.QCOrderListActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.PrivacyPolicyActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.TermsAndConditionActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ice.ExoPlayerActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.MoreMyPurchasesActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.MyOrderActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.dashboard.LifeStyleWelcomeActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ice.FirstAidOtherDetailsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.rewards.RewardsCollectiblesActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.HappyMartDisclaimerActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.rewards.RewardsHistoryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.WellBeingDisclaimerActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.syncDevice.SyncDeviceActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.rewards.MoreUpcomingActivities"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.heartAge.HeartAgeAnalysisActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.dashboard.PostLoginActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.notification.NotificationDrawerActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.quiz.QuizScoreActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.quiz.QuizCategoryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.quiz.QuizActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.diary.ViewDiaryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.diary.AddDiaryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.diary.DiaryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.profile.ActivityLatestWinnings"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ice.KitDetailsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.dashboard.LifestyleActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.qc.QCCartActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.qc.QCProductDetailsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.qc.QCProductsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.absorb.HealthTVDashboard"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.contacts.ContactsActivityNew"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.wyh.happyyousdk.rewards.MoreTopUpsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.rewards.MoreCurrentActivities"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.policyDetails.PolicyDetailsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.profile.ProfileActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.policyDetails.SearchPolicyActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.rewards.AllEAndGVouchersActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.reminders.RemindersActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.rewards.PendingActivityDashboard"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.rewards.RewardsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.happyMarket.HappyMartActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.heartAge.HeartAgeQuestionsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.dass21.Dass21QuestionsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.dass21.Dass21AnalysisActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.WellBeingActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.unwind.UnwindActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.absorb.WebinarDetailActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.absorb.QuickReadActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.absorb.QuickReadDashboard"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.absorb.HealthHacksActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.HealthRecordTypeWiseReportActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.PhotoViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.PrescriptionUploadedActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.AddNewEhrRecord"
            android:theme="@style/Theme.HappyYou"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.trends.TrendsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wyh.happyyousdk.ehr.HealthLockerHistoryActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
<activity
            android:name=".ehr.DoctorPrescriptionActivity"
            android:exported="false" />
        -->
        <activity
            android:name="com.wyh.happyyousdk.ehr.EhrActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.WebActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ira.IRAAnalysisActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ira.IraActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.hra.HRAAnalysisActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.hra.HRAQuestionsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.fitConnect.FitConnectActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.WelcomeActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.onegravity.contactpicker.core.ContactPickerActivity"
            android:theme="@style/Theme.HappyYou"
            android:enabled="true"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <receiver android:name="com.wyh.happyyousdk.utils.SmsBroadcastReceiver" />
        <receiver
            android:name="com.wyh.happyyousdk.sendActivityData.SendDataToServerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.wyh.happyyousdk.ice.CPRAndFirstAddActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ice.AddEmergencyContactActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ice.SOSActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ice.ICEDashboardActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ice.FirstAidDetailsActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.ice.YoutubeActivity"
            android:theme="@style/Theme.HappyYou"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name="com.wyh.happyyousdk.ChallangesModule.Activities.NewTribeChallengeDashboard"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.happyMarket.HappyMartOthersSection"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.happyMarket.OtherSectionDisclaimer"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.Sonde.Activities.DirectionScreen"
            android:theme="@style/Theme.HappyYou"/>
        <activity
            android:name="com.wyh.happyyousdk.Sonde.Activities.CountdownActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="com.wyh.happyyousdk.Sonde.Activities.SondeDashboard"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.Sonde.Activities.RespiratoryCheck"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.Sonde.Activities.AlertActivity"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.Sonde.Activities.AnalysisScreen"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.Sonde.Activities.SondeHistory"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.Sonde.Activities.FailedResponseScreen"
            android:theme="@style/Theme.HappyYou"/>
        <activity
            android:name="com.wyh.happyyousdk.ChallangesModule.Walkathon.Activities.WinnerDialogActivity"
            android:exported="false"
            android:theme="@style/CustomAlertDialogNew" />
        <activity
            android:name="com.wyh.happyyousdk.dashboard.NewDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.HappyYou"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wyh.happyyousdk.dashboard.OtherActivity"
            android:exported="false"
            android:theme="@style/CustomAlertDialogNew" />
        <activity
            android:name="com.wyh.happyyousdk.policyDetail.PolicySearchActivity"
            android:theme="@style/Theme.HappyYou"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.policyDetail.PolicyCreateMPIN"
            android:theme="@style/Theme.HappyYou"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.policyDetail.PolicyLoginMPIN"
            android:theme="@style/Theme.HappyYou"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.policyDetail.PolicyCreateFingerPrint"
            android:theme="@style/Theme.HappyYou"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.policyDetail.PolicyListActivity"
            android:theme="@style/Theme.HappyYou"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.policyDetail.PolicyViewMore"
            android:theme="@style/Theme.HappyYou"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wyh.happyyousdk.SpinWheel.Activities.DashboardWheelActivity"
            android:exported="false"
            android:theme="@style/CustomAlertDialogNew" />
        <activity android:name="com.wyh.happyyousdk.corporateAccount.ActivityCorporateAccountLink"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.corporateAccount.ActivityCorporateAccountMain"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.corporateAccount.ActivityCorporateAccountAddEdit"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.fileshare.ActivityFileShareList"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.fileshare.ActivityFileShareAllList"
            android:theme="@style/Theme.HappyYou"/>
        <activity android:name="com.wyh.happyyousdk.fileshare.PhotoViewActivityFileShare"
            android:theme="@style/Theme.HappyYou"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.wyh.happyyousdk.Sonde.Utilities.BackgroundService" />
    </application>

</manifest>